{% extends "base.html" %}
{% load static %}
{% block title %}
    <meta charset="UTF-8">
    <title>水深地図</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block content %}
<script src="{% static 'js/leaflet.js' %}" crossorigin=""></script>
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/display-depth.js' %}"></script>
<script src="{% static 'js/display-depth.js' %}"></script>
<div id="map1"></div>
<script>
cord=[
	{% for depthdata in data  %}
 	 {
 	  lat:{{ depthdata.緯度}},
 	  lon:{{ depthdata.経度}},
 	  depth:'{{depthdata.深さ}}',
 	 },
{% endfor %}
]
mycord=[
	{% for depthdata in mydata  %}
 	 {
 	  lat:{{ depthdata.緯度}},
 	  lon:{{ depthdata.経度}},
 	  depth:'{{depthdata.深さ}}',
 	 },
{% endfor %}
]
purch=[
	{% for purchasedata in purchase  %}
 	 {
 	  lat:{{ purchasedata.lat}},
 	  lon:{{ purchasedata.lon}},
 
 	 },
{% endfor %}
]
var map=L.map('map1').setView([cord[0].lat,cord[0].lon], 14);
L.tileLayer(
		'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
		,{
	 	   attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a>',
	 	   maxZoom: 20
		}).addTo(map);
L.control.scale();
for (i = 0; i < purch.length; i++) {
	var Polygon = L.polygon([[purch[i].lat,purch[i].lon],[purch[i].lat+0.1,purch[i].lon],[purch[i].lat+0.1,purch[i].lon+0.1],[purch[i].lat,purch[i].lon+0.1],[purch[i].lat, purch[i].lon]],{
	"color":'#4DB56A',
	"weight": 3,
	opacity:0.5,
	fillColor:'#FFFFFF',
	fillOpacity:0.2
	}).addTo(map);
}
for (i = 0; i < cord.length; i++) {
	var circle = L.circle([cord[i].lat,cord[i].lon],1,{
	color:defcollor('0000FF',25.6,cord[i].depth,25.6),
	fill:true,
	fillOpacity:1,
	tap:false,
	opacity:0
	}).bindPopup(cord[i].depth)
	.addTo(map);
}
for (i = 0; i < mycord.length; i++) {
	var circle = L.circle([mycord[i].lat,mycord[i].lon],1,{
	color:defcollor('0000FF',25.6,mycord[i].depth,25.6),
	fill:true,
	fillOpacity:1,
	tap:false,
	opacity:0
	}).bindPopup(mycord[i].depth)
	.addTo(map);
}
</script>
{% endblock %}
