{% extends "account/base.html" %}
{% block title %}
    <meta charset="UTF-8">
    <title>ユーザー情報確認</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-5"></h1>
    <p>Email:{{user.email}}</p>
        <br>
    <p>総獲得ポイント:{{user.total_point}}</p>
        <br>
    <p>使用可能ポイント:{{user.unused_point}}</p>
        <br>
   <a class="ui button" href="/account/change">登録情報変更</a>
   <a class="ui button" href="/account/sentpass">パスワード変更</a>
        <br>
    <a href="/">戻る</a>

</div>

{% endblock %}
